html {
  background-color: black;
  color:seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#header {
  display: flex;
  height: 69px;
  width: 100%;
  position: fixed;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
}
#header img {
  height: 50px;
  padding-left: 10px;
}
nav {
  text-align: right;
  flex-grow: 1;
  margin-right: 10 px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
  }
span a {
  color: seashell;
}
.main {
  width: 1200px;
  padding-top: 69px;
  display: block;
  margin:auto;
  }
#mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  padding-top: 70px;
  width: 1200px;

}
.content {
  background-color: black;
  width: 100%;
  align-content: center;
}
